.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  position: fixed;
}

.header-div{
 height : 2500px;
 width: 100%;
 background-color : #00838F;
}

.header-div2{
 height : 2500px;
 width: 100%;
 background-color : blue;
}

